<!-- home.html -->
{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    {% if needs_action_todo_items|length > 0 %}
        <h3>New Completed Items to process!</h3>
        <ul>
            {% for item in needs_action_todo_items %}
            <li>{{ item.summary }} - <a href="{{ url_for('remove_todo_item', item=item.summary) }}">Remove</a></li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('process_completed') }}">Process Completed</a>
        <hr>
    {% endif %}
    <h2>Suggestions</h2>
    <div class="row">
        {% for suggestion in suggestions %}
        <div class="col-md-4 text-center">{{ suggestion }} - <a href="{{ url_for('add_suggestion', suggestion=suggestion) }}">Add</a>|<a href="{{ url_for('remove_suggestion', suggestion=suggestion) }}">Remove</a></div>
        {% endfor %}
    </div>
{% endblock %}