<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journal App</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >Journald</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.journal') }}">Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.past') }}">The Past</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('tags.all_tags') }}">Tags</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('settings.main') }}">Settings</a>
            </li>
        </ul>
    </nav>
    <div class="container">
    {% block content %}{% endblock %}
    </div>

</body>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% block extra_scripts %}{% endblock %}
</html>
