<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journaled</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href='{{url_for("static",filename="css/bootstrap.min.css")}}'>
    
    <link rel="stylesheet" href='{{url_for("static",filename="css/main.css")}}'>

    {% block extra_head %}{% endblock %}
</head>
<body>

    <nav id="mynavbar" class="navbar navbar-light bg-light">
        <div class="container-fluid d-flex flex-column flex-md-row justify-content-between align-items-center">
            <span class="navbar-brand mb-2 mb-md-0 d-none d-md-block">Journald</span>
            <ul class="navbar-nav d-flex flex-row flex-wrap">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{{ url_for('main.journal') }}">Add</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{{ url_for('main.past') }}">The Past</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{{ url_for('tags.all_tags') }}">Tags</a>
                </li>
                <li class="nav-item mx-2 nav-right-border">
                    <a class="nav-link" href="{{ url_for('settings.main') }}">Settings</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="fluid-container">
        {% block content %}{% endblock %}
    </div>
    {% include 'partials/thumbnail_model.html' %}
    
    <!-- Bootstrap and JS dependencies -->
    <!-- Bootstrap and JS dependencies -->
    <script src='{{url_for("static",filename="js/jquery-3.7.1.min.js")}}'></script>
    <script src='{{url_for("static",filename="/js/bootstrap.min.js")}}'></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
