<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journaled</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href='{{url_for("static",filename="css/bootstrap.min.css")}}'>
    
    <link rel="stylesheet" href='{{url_for("static",filename="css/main.css")}}'>

    {% block extra_head %}{% endblock %}
</head>
<body>

    <nav class="navbar navbar-light bg-light" style="max-height:56px; border-bottom: 1px solid lightgray;">
        <a class="my-navbar-brand">Journald</a>
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.journal') }}">Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.past') }}">The Past</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('tags.all_tags') }}">Tags</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('settings.main') }}">Settings</a>
            </li>
        </ul>
    </nav>
    
    <div class="fluid-container">
        {% block content %}{% endblock %}
    </div>
    {% include 'partials/thumbnail_model.html' %}
    
    <!-- Bootstrap and JS dependencies -->
    <!-- Bootstrap and JS dependencies -->
    <script src='{{url_for("static",filename="js/jquery-3.7.1.min.js")}}'></script>
    <script src='{{url_for("static",filename="/js/bootstrap.min.js")}}'></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
