{% extends 'base.html' %}

{% block content %}
<h3 class="mb-3 mt-2">{{ past_saying }}, {{ user | title}}</h3>

{% if entries_with_attachements %}
    <div class=' row pl-0 list-group'>
        {% for entry,attachments in entries_with_attachements %}
            {% include 'partials/entry_row.html' with context %}
        {% endfor %}
    </div>
{% else %}
    <p>No journal entries found. Start journaling today!</p>
{% endif %}

{% endblock %}
{% block extra_scripts %}
<!-- Script to render markdown client-side -->

{% endblock %}
