{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h3 class="border-bottom pb-2">Per User Settings</h3>
    <div class="accordion" id="settingsAccordion">

        <!-- name override -->
        <div class="card">
            <div class="card-header" id="headingNameOverride">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseNameOverride" aria-expanded="false" aria-controls="collapseNameOverride">
                        Name Override
                    </button>
                </h2>
            </div>
            <div id="collapseNameOverride" class="collapse" aria-labelledby="headingNameOverride" data-parent="#settingsAccordion">
                <div class="card-body">
                    <p>Would you like to override your name?</p>
                    <form action="{{ url_for('settings.set_name_override') }}" method="post">
                        <div class="form-group
                        ">
                        <input type="text" name="name_override" class="form-control" value="{{ user_settings.get('name_override', '') }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Set Name Override</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- show/hide inspirational quotes -->
        <div class="card">
            <div class="card-header" id="headingInspirationalQuotes">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseInspirationalQuotes" aria-expanded="false" aria-controls="collapseInspirationalQuotes">
                        Inspirational Quotes
                    </button>
                </h2>
            </div>
            <div id="collapseInspirationalQuotes" class="collapse" aria-labelledby="headingInspirationalQuotes" data-parent="#settingsAccordion">
                <div class="card-body">
                    <p>Would you like to see inspirational quotes on the main page?</p>
                    <a href="{{ url_for('settings.toggle_inspirational_quotes') }}" class="btn btn-primary">Toggle Inspirational Quotes</a>
                </div>
            </div>
        </div>

        <!-- Auto Hasher Setting -->
        <div class="card">
            <div class="card-header" id="headingAutoHasher">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseAutoHasher" aria-expanded="true" aria-controls="collapseAutoHasher">
                        Auto Hasher
                    </button>
                </h2>
            </div>
            <div id="collapseAutoHasher" class="collapse show" aria-labelledby="headingAutoHasher" data-parent="#settingsAccordion">
                <div class="card-body">
                    <p>This is a feature that will look at your used tags and try to match words to them based on the longest underscored words first.</p>
                    {% if user_settings.get("autohasher_enabled", 'false') == 'false' %}
                    <a href="{{ url_for('settings.enable_auto_hasher') }}" class="btn btn-primary">Enable Auto Hasher</a>
                    {% else %}
                    <a href="{{ url_for('settings.disable_auto_hasher') }}" class="btn btn-primary">Disable Auto Hasher</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Post Journal URL Setting -->
        <div class="card">
            <div class="card-header" id="headingPostJournalURL">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsePostJournalURL" aria-expanded="false" aria-controls="collapsePostJournalURL">
                        After Publishing a New Journal Entry
                    </button>
                </h2>
            </div>
            <div id="collapsePostJournalURL" class="collapse" aria-labelledby="headingPostJournalURL" data-parent="#settingsAccordion">
                <div class="card-body">
                    <p>Where do you want to go after publishing a new journal entry?</p>
                    <select id="post_journal_url" class="form-control">
                        <option value="journal" {% if user_settings.get("post_journal_url", 'past') == 'journal' %}selected{% endif %}>New Journal Page</option>
                        <option value="past" {% if user_settings.get("post_journal_url", 'past') == 'past' %}selected{% endif %}>Past Journal Entries</option>
                        <option value="tags" {% if user_settings.get("post_journal_url", 'past') == 'tags' %}selected{% endif %}>Tags</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Word cloud settings -->
         
        <div class="card">
            <div class="card-header" id="headingWordCloud">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseWordCloud" aria-expanded="false" aria-controls="collapseWordCloud">
                        Word Cloud Settings
                    </button>
                </h2>
            </div>
            <div id="collapseWordCloud" class="collapse" aria-labelledby="headingWordCloud" data-parent="#settingsAccordion">
                <div class="card-body">
                    <div class="form-group">
                        <label for="max_word_cloud_count">Word Cloud Entries Count</label>
                        <input type="number" id="max_word_cloud_count" class="form-control" value="{{ user_settings.get('max_word_cloud_count', 20) }}">
                        <!--disable -->
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="disable_word_cloud" {% if user_settings.get('disable_word_cloud', False) %}checked{% endif %}>
                            <label class="form-check" for="disable_word_cloud">Disable Word Cloud</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Auto Blur Mode Setting -->
        <div class="card">
            <div class="card-header" id="headingAutoBlurMode">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseAutoBlurMode" aria-expanded="false" aria-controls="collapseAutoBlurMode">
                        Auto Blur Mode
                    </button>
                </h2>
            </div>
            <div id="collapseAutoBlurMode" class="collapse" aria-labelledby="headingAutoBlurMode" data-parent="#settingsAccordion">
                <div class="card-body">
                    <p>List of Hashtags that will blur out journal entries on creation.</p>
                    <span>Auto blur mode:</span>
                    <select id="auto_blur_mode" class="form-control">
                        <option value="off" {% if user_settings.get("auto_blur_mode", 'off') == 'off' %}selected{% endif %}>Off</option>
                        <option value="partial match" {% if user_settings.get("auto_blur_mode", 'partial match') == 'partial match' %}selected{% endif %}>Partial Match</option>
                        <option value="full match" {% if user_settings.get("auto_blur_mode", 'full match') == 'full match' %}selected{% endif %}>Full Match Only</option>
                    </select>
                    <!-- Table of hashtags -->
                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th>Hashtag</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tag in user_settings.get("auto_blur_tags", []) %}
                            <tr>
                                <td>{{ tag }}</td>
                                <td><a href="{{ url_for('settings.remove_hashtag', tag=tag) }}" class="btn btn-danger">Remove</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <form action="{{ url_for('settings.add_hashtag') }}" method="post" class="form-inline">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">#</span>
                                            </div>
                                            <input type="text" name="tag" placeholder="Hashtag" class="form-control">
                                        </div>
                                        <button type="submit" class="btn btn-primary ml-2">Add</button>
                                    </form>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- Keyword Helper Manager -->
        <div class="card">
            <div class="card-header" id="headingKeywordHelperManager">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseKeywordHelperManager" aria-expanded="false" aria-controls="collapseKeywordHelperManager">
                        Keyword Last Use Broadcaster
                    </button>
                </h2>
            </div>
            <div id="collapseKeywordHelperManager" class="collapse" aria-labelledby="headingKeywordHelperManager" data-parent="#settingsAccordion">
                <div class="card-body">
                    <p>When you use a keyword, it will be broadcasted to Home Assistant input.datetime helpers.</p>
                    <a href="{{ url_for('settings.keyword_helper_manager') }}" class="btn btn-primary">Manage Keywords</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script>
    document.getElementById("post_journal_url").addEventListener("change", function() {
        fetch("{{url_for('settings.set_post_journal_url',page='')}}"+this.value)
    });

    document.getElementById("auto_blur_mode").addEventListener("change", function() {
        fetch("{{url_for('settings.set_auto_blur_mode',mode='')}}"+this.value)
    });

    document.getElementById("max_word_cloud_count").addEventListener("change", function() {
        fetch("{{url_for('settings.set_max_word_cloud_count',count='')}}"+this.value)
    });
</script>
{% endblock %}
