{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <h3>Updating Entry</h3>
    <a href="{{url_for('main.delete_journal_entry',entry_id=entry.id)}}" onclick="return confirm('confirm delete?')"><i class="fas fa-trash">Trash</i></a>
    <form method="POST">
        <input type="hidden" name="entry_id" value="{{entry_id}}">
        <textarea id="entry_input"  name="content" rows="10" cols="50" >{{entry.content}}</textarea><br>
        <button type="submit">Update</button>
    </form>
</div>

<!-- SimpleMDE Markdown Editor -->

{% endblock %}
