<div class="col-lg-12 entry {% if entry.visible == false %} blurred_entry {% endif %}">
    <div class="  entry-content">
        <!-- The content will be converted to markdown by marked.js -->
        <p>{{ entry.content | link_tags |basic_markdown|auto_linker| nl2br |dbl_br_remover|safe}}</p>
        <!-- Only show the tags section if there are tags -->
    </div>
    <div class="entry-attachments">
        {% if attachments %}
        <div class="attachments">
            <div class="row">
                {% for attachment in attachments %}
                {% if attachment.endswith('.thumb.system.png') %}
                <div class="col-md-4 text-center"> <!-- Change col-lg-12 to col-md-4 to show images side-by-side -->
                    <img src="{{ url_for('main.download_attachment', entry_id=entry.id, file_name=attachment) }}" loading="lazy" class='img-fluid thumbnail' alt="{{ attachment }}" onclick="openModalWithImage('{{ url_for('main.download_attachment', entry_id=entry.id, file_name=attachment.replace('.thumb.system.png','')) }}')">
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    
    <div class="entry-tags">
        {% if entry.tags %}
        <strong>Tags:</strong>
        <ul class="list-inline d-inline ml-1">
            {% for tag in entry.tags %}
            <li class="list-inline-item">
                <a href="{{ url_for('tags.tag_detail', tag_name=tag.name) }}">#{{ tag.name|u2s|title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="pt-2 mt-1 entry-infoline border-top">
        <div class="row">
            <div class="col-sm-6">
                <small>Written on: {{ entry.timestamp | time_link | safe }}</small>
                {% if entry.mood %}
                <small class="ml-2 badge badge-pill badge-info mood_{{entry.mood}}">{{ entry.mood }}</small>
                {% endif %}
            </div>
            <div class="col-sm-6 text-right">
                <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('main.update_journal_entry', entry_id=entry.id) }}">Edit</a>
                {% if entry.visible == true %}
                    <a class="btn btn-sm btn-outline-secondary blur-entry" href="{{ url_for('main.blur_journal_entry', entry_id=entry.id) }}">Blur</a>
                {% else %}
                    <a class="btn btn-sm btn-outline-secondary unblur-entry" href="{{ url_for('main.unblur_journal_entry', entry_id=entry.id) }}">Unblur</a>
                {% endif %}
            </div>
        </div>
    </div>
    
</div>